<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0"
         metadata-complete="true">
    <display-name> FirstApp </display-name>
    <servlet>
        <servlet-name>HelloWordServlet</servlet-name>
        <servlet-class>it.academy.HelloWordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloWordServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

</web-app>